<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click) ="onNewCategory()">New Category</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a 
        [routerLink] = "[i]"
        routerLinkActive="active"
        style="cursor: pointer;"
        class="list-group-item clearfix"
        *ngFor="let category of categories; let i = index">
            <div>
                <h4 class="list-group-item-heading">{{category.name}}</h4>
            </div>
        </a>
    </div>
</div>
